<section class="graphic-header{{trackIndex}} no-image">
    <h3>{{title}}</h3>
</section>
<section class="player">
    <div class="cover">
        <div class="art" {{#if artwork_url}}style="background-image:url('{{artwork_url}}');" {{/if}}data-stream="{{stream_url}}">&nbsp;</div>
        <span class="play fa fa-play"></span>
    </div>
    <p class="description">{{description}}</p>
</section>
{{!-- <ul>
    <li>Tags: {{tag_list}}</li>
    <li>Genre: {{genre}}</li>
</ul> --}}

{{!-- {
  "tag_list": "Cover Party Parx",
  "permalink": "paradise-at-parx",
  "streamable": true,
  "genre": "Classic Rock",
  "title": "Paradise At Parx",
  "description": "Recorded LIVE at Parx Casino.  The Diablo Sandwich Band Experience in a nutshell",
  "uri": "https://api.soundcloud.com/tracks/168488082",
  "user": {
    "id": 66123791,
    "kind": "user",
    "permalink": "diablosandwichband",
    "username": "DiabloSandwichBand",
    "last_modified": "2015/07/01 03:22:11 +0000",
    "uri": "https://api.soundcloud.com/users/66123791",
    "permalink_url": "http://soundcloud.com/diablosandwichband",
    "avatar_url": "https://i1.sndcdn.com/avatars-000060104895-cfwjby-large.jpg"
  },
  "permalink_url": "http://soundcloud.com/diablosandwichband/paradise-at-parx",
  "artwork_url": "https://i1.sndcdn.com/artworks-000091534715-8gpe40-large.jpg",
  "waveform_url": "https://w1.sndcdn.com/SgaQ2LK499z8_m.png",
  "stream_url": "https://api.soundcloud.com/tracks/168488082/stream",
  "attachments_uri": "https://api.soundcloud.com/tracks/168488082/attachments",
} --}}